/* universal */

*,
*::before,
*::after {
  box-sizing: border-box;

  /* root */
}
:root {
  --primary-color: rgb(168, 176, 169);
  --secundary-color: rgb(205, 202, 202);
  --he-fo: rgb(34, 33, 33);
}

/* calse para colores principales y padding */

.primary {
  padding: 30px;
  background-color: var(--primary-color);
}

.secondary {
  padding: 30px;
  background-color: var(--secundary-color);
}
.nav {
  color: black;
  padding-left: 80px;
}

/* clases para main */

.city {
  text-align: center;
}

.ciudad {
  border-radius: 5%;
}

/* estilos para contac */

.contac {
  background-color: var(--primary-color);
  padding: 10%;
}
form {
  background-color: var(--secundary-color);
  padding: 20px;
  border-radius: 50px;
  display: grid;
  place-items: center;
}

/* estilos */
body {
  margin: 30px;
}

html {
  font-size: 62, 5%;
}

img,
video {
  width: 100%;
}

iframe {
  width: 100%;
}
header {
  color: beige;
  background-color: var(--he-fo);
  text-align: center;
  padding: 15px;
}

nav {
  color: beige;
  background-color: var(--secundary-color);
  text-align: start;
  padding: 12px;
}

table {
  width: 60%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

/* footer */

footer {
  text-align: center;
  color: beige;
  background-color: var(--he-fo);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

/* responsive */

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    background-color: brown;
  }
}

@media screen and (min-width: 992px) {
  h1,
  h2,
  h3 {
    background-color: rgb(78, 72, 84);
  }
}

html,
body {
  height: 100%;
}
